.uni-monocond-page {
  width: 100vw;
  .mono-pages {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    margin: 0;

    &.grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 150px);
    }
  }

}