.user-info-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
    margin-top: 20px;
}
.user-info-name {
    font-size: 24px;
    font-weight: 500;
    margin-right: 16px;
}
.user-info-avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
