.ui-datepicker-wrap {
    width: 240px;
    font-size: 16px;
    color: #666;
    box-shadow: 2px 2px 8px 2px #f0f3f0;
    display: none;
    position: absolute;
}
.ui-datepicker-wrap-show {
    display: block;
}

.ui-datepicker-header {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
    background: #f0f0f0;
}
.ui-datepicker-btn {
    text-decoration: none;
    font-family: serif;
    font-size: 20px;
    width: 20px;
    color: #633;
    cursor: pointer;
}

.ui-datepicker-body table {
    width: 100%;
    border-collapse: collapse;
}
th, td{
    height: 30px;
    text-align: center;
}

thead {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}
td {
    border: 1px solid #f0f0f0;
    font-size: 12px;
    cursor: pointer;
}